---
layout: page
# individual pages for each gallery
exclude_from_nav: true
header:
  background-color: "#6B8A78"
---

<div class="gallery">
  {% if page.description %}
  <div class="gallery-description">
    {{ page.description }}
  </div>
  {% endif %}

  {% if page.header.image_fullwidth %}
  <div class="gallery-header">
    <img src="{{ page.header.image_fullwidth }}" />
  </div>
  {% endif %}

  <div class="gallery-grid">
    {% for image in page.images %}
    <div class="gallery-grid--cell">
      <a href="{{ image }}">
        {% if page.captions[image] == nil %}
        <img src="thumbs/{{ image }}">
        {% else %}
        <img data-caption="{{ page.captions[image] }}" src="thumbs/{{ image }}" alt="{{ page.captions[image] }}" title="{{ page.captions[image] }}">
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </ul>
</div>

